@import "../../custom";

.our-client {
  padding: 100px 0;
  background: $dark-gray-2;
  color: white;
  &--title {
    @include heading-2;
    font-weight: 300 !important;
  }
  .row-title {
    margin-bottom: 50px;
  }
  .row-content {
    .col {
      display: flex;
      justify-content: center;
    }
  }
}
