$dark-gray: #504b49;
$dark-gray-2: #2f2a2a;

$gray-6: #f2f2f2;
$gray-5: #e0e0e0;

$light-red: #b92322;
$mid-red: #8b0b04;

$white-80: rgba(255, 255, 255, 0.8);
$black-80: rgba(0, 0, 0, 0.8);
